target/
build/

.DS_Store
.idea/
.vscode/

.classpath
.factorypath
.project
.settings/
.apt_generated/
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.iws
*.iml
*.ipr
*.log
